/* ******************* GENERAL *************** */

body { 
		font-family: Corbel,Arial, sans-serif; 
		margin: 0;    /* margine sinistro su tutti i tag */
}




/*a { 					
/* attributo a ovunque presente es: elenchi;*/
/*		color: #000000;
		text-decoration: none;
} */

/* ******************** HEADER ************** */

#head { 					
/* attributo a ovunque presente es: elenchi;*/
 		color: #000000;
		text-decoration: none;
} 



#header { 
	background-color: #ffff4d; 
	color: #cca300;
	/* #ffff4d; 
	/*#ffff1a; 
	 #ffcc00 
	/*#ffad33; */

}

h1 { 
		font-size: 36px;
		/*padding: 30px 40px 5px 10px; */
		margin: 0; 
		text-align: center;
		padding:  15px 0 0 0 ;
		color: #cca300;
		text-transform: uppercase;
		
}

h1 a { 
	text-decoration: none;
 }

h2 {
	text-align: center;
	margin:  0;
}


#nav {				/* per menu navigazione */
		background-color: #ffdb4d;
		/*cc6600; */
		border: 1px grey solid;
		text-align: center;
		list-style-type: none;    /*toglie puntini da UL*/

}


#nav  li{				/* per menu navigazione */
		   display: inline-block;
		   text-align: center;
		   padding: 6px 8px 6px 15px;
		   
}


#nav li a { 
	color:  #ffffff;
	
}

       /* pseudo class */
#nav li:hover{ 
			background-color: #e6b800; }

/* ******************* CONTENT ************** */

#content {
	width: 600px ;
	margin: 30px auto;

}

#content h4 { 
	border-bottom: #ffad33 solid 3px ;      /* per linea al di sotto */ 
}     
 





